/*$primary-color: #FFC0CB;*/
#btn_menu {
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0;
  background-color: #DD0613; }
  #btn_menu img {
    height: 25px;
    vertical-align: middle; }

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-bottom: 0;
  border: none; }
  .menu li {
    flex-basis: 100%; }
    .menu li a {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      align-items: center;
      cursor: pointer; }
      .menu li a i {
        font-size: 6em;
        color: #DD0613; }
      .menu li a img {
        height: 64px; }
      .menu li a p {
        font-size: 1.3em;
        width: auto; }
  .menu li.menu_title {
    height: 55.5px;
    flex-basis: unset;
    background-color: #DD0613;
    color: white;
    text-align: center;
    line-height: 55.5px;
    font-size: 48px; }

#events_list img {
  transform: rotate(180deg); }

#btn_slide {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }
  #btn_slide span {
    cursor: pointer;
    border: solid 0px #DDD;
    margin: 10px;
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #DD0613;
    transition: background-color 0.3s;
    border: 1px solid #555; }

#my_slider {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0; }
  #my_slider img {
    width: 100vw;
    transition: all 0.5s; }

#mymodal {
  background-color: #DD0613;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2%; }
  #mymodal img {
    height: 32px;
    vertical-align: middle; }

#modal2 {
  min-height: 100vh; }
  #modal2 .modal-content {
    padding: 0; }
    #modal2 .modal-content nav {
      background-color: #DD0613; }
      #modal2 .modal-content nav a {
        position: relative;
        padding: 0 2%; }
      #modal2 .modal-content nav .nav-wrapper {
        display: flex; }
        #modal2 .modal-content nav .nav-wrapper .exit {
          display: flex;
          align-items: center; }
          #modal2 .modal-content nav .nav-wrapper .exit img {
            height: 32px; }
    #modal2 .modal-content .collection {
      position: relative;
      top: 0;
      left: 0; }
      #modal2 .modal-content .collection img {
        position: absolute;
        right: 2%;
        height: 24px; }

#image-map {
  width: 100vw;
  height: 100vh; }

.leaflet-container {
  background: white; }

#admin_panel {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  padding-left: 5vw;
  border-bottom: solid #ccc 1px;
  background-color: white;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1%; }
  #admin_panel #legend img {
    height: 16px; }
  #admin_panel #exit_admin_panel i {
    transform: rotate(45deg); }

.admin_switch {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1%; }
  .admin_switch label :first-child {
    color: #2ECC71; }
  .admin_switch label :last-child {
    color: #DD0613; }

#roomModal {
  height: 20vh;
  max-height: 20vh; }
  #roomModal .modal-content div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    #roomModal .modal-content div #exit_point_config_panel {
      transform: rotate(45deg); }
    #roomModal .modal-content div h4 {
      color: #DD0613; }
    #roomModal .modal-content div a {
      display: flex;
      align-items: center;
      justify-content: space-around; }
      #roomModal .modal-content div a img {
        height: 32px; }
  #roomModal #mark_form h5 {
    color: #DD0613;
    padding-right: 0.5em; }
  #roomModal #qrcode {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh; }
    #roomModal #qrcode canvas {
      display: none; }

#locateModalBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1%; }

#locateModal {
  height: 400px;
  width: 450px;
  max-height: 400px;
  max-width: 450px; }
  #locateModal .modal-footer {
    position: absolute;
    bottom: 0; }

* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

canvas {
  display: block;
  background: #eee; }

.leaflet-control-container {
  display: none; }

/*# sourceMappingURL=index.css.map */
