#btn_menu{
	position: fixed;
	top: 0;
	left: 0;
	border-radius:0;
	background-color: $primary-color;
	img{
		height: 25px;
		vertical-align: middle;
	}
}
.menu{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding-bottom: 0;
	border: none;
	li{
		flex-basis: 100%;
		a{
			display: flex;
			flex-direction: row;
			height: 100%;
			width: 100%;
			align-items: center;
			cursor: pointer;
			img{
				height: 64px;
			}
			p{
				font-size: 1.3em;
				width: auto;
			}
		}
	}

	li.menu_title {
		height: 55.5px;
		flex-basis: unset;
		background-color: $primary-color;
		color: white;
		text-align: center;
		line-height: 55.5px;
		font-size: 48px;
	}
}
#events_list{
	img{
		transform: rotate(180deg);
	}
}
