@import "../config";
@import "../components/menu";
@import "../components/slide";
@import "../components/events_list";
@import "../components/map";
@import "../components/admin";
@import "../components/room";
@import "../components/locate";

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  background: #eee;
}

.leaflet-control-container {
	display: none;
}
